In [1]:
# Bayes Theory --> very similar to PSTAT 120A/B P(A/B) =[P(B/A) * P(A) ] / P(B)
# try to find P(Survived/ type of features) --> make assumption that features are independent
#Used in weather prediction, face detection, spam detection

In [9]:
import pandas as pd

df = pd.read_csv("titanic (1).csv")
df.head()

#Name has nothing to do with the result

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [10]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [11]:
target = df.Survived
inputs = df.drop(['Survived'],axis = 'columns')

In [12]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [13]:
inputs = pd.concat([inputs,dummies], axis = 'columns')
inputs.head(5)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [15]:
inputs.drop(['Sex'], axis = 'columns', inplace = True)

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [19]:
inputs.Age[:10]
#fill na values with mean value

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [21]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = .2)

In [23]:
len(X_train)

712

In [24]:
len(X_test)

179

In [27]:
len(inputs)

891

In [28]:
len(X_train), len(X_test)

(712, 179)

In [30]:
from sklearn.naive_bayes import GaussianNB

# note: it’s “NB” (letters), not “N8”
model = GaussianNB()

In [31]:
model.fit(X_train, y_train)

GaussianNB()

In [32]:
model.score(X_test, y_test)

0.8268156424581006

In [33]:
X_test[:10]

     Pclass        Age     Fare  female  male
190       2  32.000000  13.0000       1     0
379       3  19.000000   7.7750       0     1
491       3  21.000000   7.2500       0     1
578       3  29.699118  14.4583       1     0
124       1  54.000000  77.2875       0     1
466       2  29.699118   0.0000       0     1
77        3  29.699118   8.0500       0     1
4         3  35.000000   8.0500       0     1
780       3  13.000000   7.2292       1     0
747       2  30.000000  13.0000       1     0

In [34]:
y_test[:10]

190    1
379    0
491    0
578    0
124    0
466    0
77     0
4      0
780    1
747    1
Name: Survived, dtype: int64

In [35]:
model.predict(X_test[:10])

array([1, 0, 0, 1, 0, 0, 0, 0, 1, 1])

In [37]:
model.predict_proba(X_test[:10])

array([[0.03452798, 0.96547202],
       [0.98682395, 0.01317605],
       [0.98731471, 0.01268529],
       [0.07194769, 0.92805231],
       [0.67065699, 0.32934301],
       [0.97429151, 0.02570849],
       [0.98874813, 0.01125187],
       [0.98903356, 0.01096644],
       [0.05322435, 0.94677565],
       [0.03409203, 0.96590797]])