In [2]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df_new = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = "columns")
df_new.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
from sklearn.preprocessing import LabelEncoder

le_sex = LabelEncoder()

df_new['sex_n'] =  le_sex.fit_transform(df_new['Sex'])

In [5]:
df_new

     Survived  Pclass     Sex   Age     Fare  sex_n
0           0       3    male  22.0   7.2500      1
1           1       1  female  38.0  71.2833      0
2           1       3  female  26.0   7.9250      0
3           1       1  female  35.0  53.1000      0
4           0       3    male  35.0   8.0500      1
..        ...     ...     ...   ...      ...    ...
886         0       2    male  27.0  13.0000      1
887         1       1  female  19.0  30.0000      0
888         0       3  female   NaN  23.4500      0
889         1       1    male  26.0  30.0000      1
890         0       3    male  32.0   7.7500      1

[891 rows x 6 columns]

In [6]:
df_new = df_new.drop(['Sex'], axis = "columns")

In [7]:
df_new

     Survived  Pclass   Age     Fare  sex_n
0           0       3  22.0   7.2500      1
1           1       1  38.0  71.2833      0
2           1       3  26.0   7.9250      0
3           1       1  35.0  53.1000      0
4           0       3  35.0   8.0500      1
..        ...     ...   ...      ...    ...
886         0       2  27.0  13.0000      1
887         1       1  19.0  30.0000      0
888         0       3   NaN  23.4500      0
889         1       1  26.0  30.0000      1
890         0       3  32.0   7.7500      1

[891 rows x 5 columns]

In [51]:
inputs = inputs.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns')

KeyError: "['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'] not found in axis"

In [ ]:
df_new.isna().sum()

In [ ]:
inputs = df.drop('Survived', axis = 'columns')
target = df['Survived']

In [ ]:
inputs.Sex = inputs.Sex.map({'male':1 , 'female':2})

In [ ]:
inputs.Age[:10]

In [ ]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [ ]:
inputs.head()

In [60]:
inputs = inputs.drop(('PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'),axis = 'columns')

KeyError: "[('PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked')] not found in axis"

In [53]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test =  train_test_split(inputs, target, test_size = 0.2)

In [54]:
len(X_train), len(y_train)

(712, 179)

In [55]:
from sklearn import tree

In [56]:
model = tree.DecisionTreeClassifier()

In [57]:
model.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous-multioutput'

In [49]:
X = df_new.drop('Survived', axis=1)
y = df_new['Survived']  # Not df_new[['Survived']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(y_train.shape)  # Should be (n_samples,)
print(y_train.unique())  # Should be [0 1]

(712,)
[1 0]